{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.*?.json"
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended",
    "eslint:recommended"
  ],
  "plugins": [
    "@typescript-eslint",
    "babel",
    "react",
    "promise",
    "jest"
  ],
  "root": true,
  "globals": {
    "__DEV__": false
  },
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "app"
        ]
      }
    }
  },
  "rules": {
    // ESLint Rules
    "no-console": 2,
    "no-extra-semi": 2,
    "no-multi-spaces": 0,
    "key-spacing": 0,
    "no-return-assign": 0,
    "curly": 0,
    "padded-blocks": 0,
    "brace-style": 0,
    "no-use-before-define": 0,
    "object-curly-newline": 0,

    "space-before-function-paren": [2, "never"],
    "semi" : [2, "never"],
    "max-len": [2, 120, 2],
    "no-trailing-spaces": 0,

    // Babel Rules
    "babel/generator-star-spacing": 2,
    "babel/new-cap": 2,
    "babel/array-bracket-spacing": 2,
    "babel/object-curly-spacing": [2, "always"],
    "babel/object-shorthand": 2,
    "babel/arrow-parens": [0, "as-needed"/*, { "requireForBlockBody": true }*/],
    "babel/no-await-in-loop": 2,
    "babel/flow-object-type": 2,
    "babel/func-params-comma-dangle": 2,

    // React Rules
    "react/forbid-component-props": [0],
    "react/forbid-prop-types": [0],
    "react/no-children-prop": [2],
    "react/no-danger": [0],
    "react/no-danger-with-children": [2],
    "react/no-deprecated": [2],
    "react/no-did-mount-set-state": [2],
    "react/no-did-update-set-state": [2],
    "react/no-direct-mutation-state": [2],
    "react/no-find-dom-node": [2],
    "react/no-is-mounted": [2],
    "react/no-multi-comp": [2],
    "react/no-set-state": [0],
    "react/no-string-refs": [2],
    "react/no-unescaped-entities": [2],
    "react/no-unknown-property": [2],
    "react/no-unused-prop-types": [0],
    "react/prefer-es6-class": [2, "always"],
    "react/prefer-stateless-function": [2],
    "react/react-in-jsx-scope": [2],
    "react/require-optimization": [1],
    "react/require-render-return": [2],
    "react/self-closing-comp": [2],
    "react/sort-comp": [2, {
      "order": [
        "static-methods",
        "props",
        "state",
        "/.+Ref/",
        "instance-variables",
        "lifecycle",
        "/^get.+$/",
        "/^on.+$/",
        "/^handle.+$/",
        "everything-else",
        "/^get.+$/",
        "rendering"
      ],
      "groups": {
        "rendering": [
          "/^render.+$/",
          "render"
        ]
      }
    }],
    "react/sort-prop-types": [0],
    "react/style-prop-object": [2],
  },
  "overrides": [
    {
      "files": [
        "**/*.spec.js",
        "**/*.spec.jsx",
        "**/*.spec.ts",
        "**/*.spec.tsx"
      ],
      "env": {
        "jest": true
      }
    },
    {
      "files": [
        "*.tsx"
      ],
      "rules": {
        "@typescript-eslint/no-unused-vars": "off"
      }
    }
  ]
}
